---
import { author } from "../layouts/BaseLayout.astro";
---

<footer class="bg-transparent text-gray-200/70 dark:text-gray-200/30 py-4">
  <div class="container mx-auto px-4 text-center">
    <p class="text-xs">
      © {new Date().getFullYear()} Maintained by
      <a
        href={author.url}
        rel="noopener"
        target="_blank"
        class="outline-none active:text-gray-500 focus-visible:text-gray-900 dark:focus-visible:text-violet-300"
      >
        <span translate="no">{author.name}</span>
      </a>
    </p>
  </div>
</footer>
